@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700;900&display=swap");

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #fffbf0;
}

header h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 5rem;
  font-weight: 400;
  color: #363958;
}

.highlight {
  color: #fabe4c;
}

.header p {
  color: #3e3e3e;
}

.btn-buy {
  width: 170px;
  height: 60px;
  background: linear-gradient(180deg, #a4bc46 0%, #85a019 100%);
}

/* Woman Jacket Section */
.products-items .row {
  max-height: 550px;
}

.products-items h2 {
  font-size: 3rem;
  font-weight: 400;
  font-family: "Bebas Neue", cursive;
  color: #363958;
  padding: 50px 0px 20px;
}

.products-items .card {
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.card img {
  background-color: #f1f1f1;
  border-radius: 20px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #363958;
}

.card-text {
  font-size: 1rem;
  color: #3e3e3e;
  font-weight: 400;
}

.price span {
  color: #fabe4c;
  font-size: 2.25rem;
  font-weight: 900;
}
